<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://viajes.nationalgeographic.com.es/medio/2017/04/24/londres_b72fb870.jpg">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text"> Londres es la más popular de las ciudades del mundo. Historia y carácter, monumentos que son verdaderos iconos como el Big Ben o los mismísimos taxis tradicionales son ingredientes para una escapada perfecta</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Torre de Londres</li>
      <li class="list-group-item">Palacio de Buckingham</li>
      <li class="list-group-item">Abadía de Westminster</li>
    </ul>
  </div>
